<ul class="nav nav-pills">
  <li role="presentation"><a href="<%= edit_admin_product_path(@product)%>">基本信息</a></li>
  <li role="presentation" class="active"><a href="#">商品图片</a></li>
</ul>
<br>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<%= form_for @data, url: admin_product_product_logo_path(@product, @data), :html=>{:multipart=>true} do |f| %>
				<div class="box-body">
					<div class="form-group">
						<label for="exampleInputEmail1">图片</label>
						<img src="<%= @data.logo.url%>" />
						<%= f.file_field :logo%>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">显示顺序</label>
						<%= f.text_field :position, class: 'form-control'%>
					</div>
				</div>
				<div class="box-footer">
					<button class="btn btn-primary" type="submit">保存</button>
				</div>
			<% end %>
		</div>
	</div>
</div>






















