<style>
body{background: #E6E6E6;}
.recommend_box{margin-top: 5px;}
.recommend_box .name{line-height: 30px; margin-top: 10px; font-size: 16px; font-weight: bold;}
.recommend_box .price{line-height: 30px; margin-top: 10px; color: red; float: right; font-size: 16px; font-weight: bold;}

.index_nav{margin: auto auto auto auto; border-bottom: solid 10px #E6E6E6; background: white; padding-top: 20px;}
.index_nav a{margin-bottom: 20px; display: block;}
.index_nav a img{width: 49px; height: 50px;}

.recommends .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 25px;
  margin: auto;
  text-align: center;
  width: 100px;
}
.recommends .body{margin-bottom: 10px;}
.recommends .body table{margin: auto auto;}
.recommends .body table td{background: white; text-align: center;}
.recommends .old_price{color: #DDDDDD; text-decoration: line-through;}
.price{color: red; margin: 0px;}
.desc{color: #8C8C8C; text-align: left; padding: 5px; margin: 0px;}

.products{width: 100%; background: #E6E6E6;}
.products .title{
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.products .body{background: #E6E6E6;}
.products .body .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
  background: white;
}
.products .body .product_box:nth-child(even){
  float: right;
}
.products .body .product_box img{margin: 10px auto 20px auto;}

.company_desc{margin-top: 20px; background: white;}
.company_desc .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.company_desc .body{line-height: 40px; color: #999999; padding: 5px;}
.company_desc .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}

.quality{margin-top: 20px; background: white;}
.quality .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body{width: 95%; margin: auto auto; margin: 20px auto 20px auto; border-bottom: dashed 1px #DDDDDD; text-align: center;}
.quality .body:last-child{border-bottom: none;}
.quality .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body .icon{margin: auto auto;}
.quality .body .more{display: block; margin: 10px auto 20px auto; text-align: center;}
</style>

<!-- Swiper -->
<div class="swiper-container" style="width:100%;">
	<div class="swiper-wrapper" style='height:170px;'>
    <%Banner.order("position asc").each do |banner|%>
		  <div class="swiper-slide"><a href="<%= banner.url%>"><img style="width:100%;" src='<%= banner.image.url%>' alt="<%= banner.description%>"></a></div>
    <%end%>
  </div>
	<div class="swiper-pagination"></div>
</div>

<div class="index_nav">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="25%" align="center" valign="top">
        <a href="/member/orders">
          <img src="/images/index_btn1.jpg" style="width: 45px;"/>
        </a>
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/agents/switch">
          <img src="/images/index_btn2.jpg" style="width: 43px;"/>
        </a>  
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/orders/new">
          <img src="/images/index_btn3.jpg" style="width: 42px; height: 50px"/>
        </a>
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/member">
          <img src="/images/index_btn4.jpg" width=""/>
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="recommends">
  <div class="title">
    推荐商品
  </div>
  <div class="body">
		<%recommend_products = Product.where(recommend: true)%>
    <table width="96%" cellpadding="1" cellspacing="1" style="background: #DDDDDD">
      <tr>
        <td rowspan="2">
          <%product = recommend_products[0]%>
					<%if product%>
          <a href="/products/<%= product.id%>">
	          <p class="product_title"><%= product.name%></p>
	          <p class="price">￥<%= product.price%></p>
	          <img src="<%= product.logo.url%>" width="60" height="100" />
          </a>
					<%end%>
        </td>
        <td>
          <%product = recommend_products[1]%>
					<%if product%>
          <a href="/products/<%= product.id%>">
	          <p class="product_title"><%= product.name%></p>
	          <p class="old_price">原价：￥<%= product.old_price%></p>
	          <p class="price">￥<%= product.price%></p>
	          <img src="<%= product.logo.url%>" width="60" height="100" />
          </a>
					<%end%>
        </td>
        <td rowspan="2">
          <%product = recommend_products[2]%>
					<%if product%>
          <a href="/products/4">
	          <p class="product_title"><%= product.name%></p>
	          <p class="price">￥<%= product.price%></p>
	          <img src="<%= product.logo.url%>" width="60" height="100" />
          </a>
					<%end%>
        </td>
      </tr>
      <tr>
        <td rowspan="2">
          <%product = recommend_products[3]%>
					<%if product%>
          <a href="/products/3">
	          <p class="product_title"><%= product.name%></p>
	          <p class="price">￥<%= product.price%></p>
	          <img src="<%= product.logo.url%>" width="60" height="100" />
          </a>
					<%end%>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="products">
  <div class="title">
    -----  猜你喜欢  -----
  </div>
  <div class="body">
		<%Product.all.each do |product|%>
    <div class="product_box">
      <a href="/products/<%= product.id%>">
	      <img src="<%= product.logo.url%>" width="60" height="102" />
	      <p class="desc"><%= product.name%></p>
	      <p class="price">￥<%= product.price%></p>
      </a>
    </div>
		<%end%>
    <div style="clear:both"></div>
  </div>
</div>
<div class="quality">
  <div class="title">
    产品品质
  </div>
  <div class="body">
    <img src="/images/quality_1.jpg" class="icon" width="55" height="55" />
    <p class="body_title">低有机物含量</p>
    <p>
      有机物含量决定了水的质量，有机物种类急剧增多是水体污染
      的重要特点之一，水体中的有机物绝大部分对...
    </p>
    <a href="#" class="more">
      <img src="/images/quality_more.jpg" width="55" height="11" />
    </a>
  </div>
  <div class="body">
    <img src="/images/quality_2.jpg" class="icon" width="55" height="55" />
    <p class="body_title">紫外线杀菌</p>
    <p>
      有机物含量决定了水的质量，有机物种类急剧增多是水体污染
      的重要特点之一，水体中的有机物绝大部分对...
    </p>
    <a href="#" class="more">
      <img src="/images/quality_more.jpg" width="55" height="11" />
    </a>
  </div>
  <div class="body">
    <img src="/images/quality_3.jpg" class="icon" width="55" height="55" />
    <p class="body_title">适矿化</p>
    <p>
      有机物含量决定了水的质量，有机物种类急剧增多是水体污染
      的重要特点之一，水体中的有机物绝大部分对...
    </p>
    <a href="#" class="more">
      <img src="/images/quality_more.jpg" width="55" height="11" />
    </a>
  </div>
</div>


<div class="company_desc">
  <div class="title">
    公司简介
  </div>
  <div class="body">
    <div class="body_title">
      一个有态度的先行者
    </div>
    <p>
      无畏、无惧，只为理想抱负，细腻、雕琢，只为品质升华，你
      伸开双臂，向远方奔去，梦想、信念一触即发!
 
      温哥华水业（加拿大）企业有限公司是由来自世界各地、在各
      自领域经验丰富，能力优异人士所组成的团队，具有丰富的国
      内外商业及人力资源。自2007年开始便在加拿大致力于高端瓶
      装水行业，是世界领先的纯天然冰川水生产企业，坐落于加拿
      大不列颠哥伦比亚省奇利瓦克（Chilliwack），所开发的瓶装
      水产品已深受加拿大及北美地区人们的喜爱。
    </p>
  </div>
</div>

<script>
$(function() {
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay:5000,
		speed:300,
		autoplayDisableOnInteraction: false
	});

//	$(function(){
//		var height = $('.swiper-slide img:eq(0)').height();
//		if(height<=0){height=200;}
//		$('.swiper-wrapper').css('height', height);
//	})
});
</script>