<style>
body{}
.recommend_box{margin-top: 5px;}
.recommend_box .name{line-height: 30px; margin-top: 10px; font-size: 16px; font-weight: bold;}
.recommend_box .price{line-height: 30px; margin-top: 10px; color: red; float: right; font-size: 16px; font-weight: bold;}

.index_nav{margin: auto auto 10px auto; padding-top: 20px; border-top: 2px solid #5f9e4b;}
.index_nav a{margin-bottom: 20px; display: block;}
.index_nav a img{width: 42px;}
.index_nav a p{margin: 0px; padding: 0px; color: white; font-weight: bold}

.recommends .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 25px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.recommends .body{margin-bottom: 10px;}
.recommends .body table{margin: auto auto;}
.recommends .body table td{text-align: center;}
.recommends .old_price{color: #DDDDDD; text-decoration: line-through;}
.price{color: red; margin: 0px;}



.product_box p{
	padding: 0px;
	margin: 5px;
}

.recommend_products .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
}

.products{width: 100%; }
.products .title{
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 100%;
}
.product_title{color: white;}
.product_desc{color: white; text-align: left; padding: 5px; margin: 0px;}
.products .body .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
}
.products .body .product_box:nth-child(even){
  float: right;
}
.products .body .product_box img{margin: 10px auto 20px auto;}
.company_desc{margin-top: 20px;}
.company_desc .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.company_desc .body{line-height: 40px; color: #999999; padding: 5px;}
.company_desc .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}

.quality{margin-top: 20px; }
.quality .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body{width: 95%; margin: auto auto; margin: 20px auto 20px auto; border-bottom: dashed 1px #DDDDDD; text-align: center;}
.quality .body:last-child{border-bottom: none;}
.quality .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body .icon{margin: auto auto;}
.quality .body .more{display: block; margin: 10px auto 20px auto; text-align: center;}

.index_bg{
  background-image: url(/images/index_bg.jpg); background-position: 50% 0px; background-repeat: no-repeat; 
	position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
	width: 100%;
	height: 800px;
}
.white_bg_attrs{
  padding: 1px; 
  background: white;
  filter:alpha(opacity=80); /*支持 IE 浏览器*/
  -moz-opacity:0.80; /*支持 FireFox 浏览器*/
  opacity:0.80; /*支持 Chrome, Opera, Safari 等浏览器*/
}
.white_bg_attrs p{color: #8a6717; text-align: left;}
</style>

<div class="index_bg">
</div>
<!-- Swiper -->
<div class="swiper-container" style="width:100%;">
	<div class="swiper-wrapper" style='height:170px;'>
    <%Banner.order("position asc").each do |banner|%>
		  <div class="swiper-slide"><a href="<%= banner.url%>"><img style="width:100%; height: 170px;" src='<%= banner.image.url%>' alt="<%= banner.description%>"></a></div>
    <%end%>
  </div>
	<div class="swiper-pagination"></div>
</div>

<div class="index_nav">
  <table width="100%" cellpadding="0" cellspacing="0">
    <tr>
      <td width="25%" align="center" valign="top">
        <a href="/index/about">
          <img src="/images/index_btn1.png"/>
					<p>品牌故事</p>
        </a>
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/agents/switch">
          <img src="/images/index_btn2.png"/>
					<p>加盟商城</p>
        </a>  
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/orders/new">
          <img src="/images/index_btn3.png"/>
					<p>购物车</p>
        </a>
      </td>           
      <td width="25%" align="center" valign="top">
        <a href="/member">
          <img src="/images/index_btn4.png"/>
					<p>会员中心</p>
        </a>
      </td>
    </tr>
  </table>
</div>

<div class="recommends">
  <div class="title">
    推荐商品
  </div>
  <div class="body">
		<div class="recommend_products">
			<%Product.where(agent_id: nil, recommend: true).limit(4).each do |product|%>
	    <div class="product_box">
        <a href="/products/<%= product.id%>">
          <img src="<%= product.logo.url%>" onload="resize(this)" />
          <div class="white_bg_attrs">
            <p class="product_title"><%= product.name%></p>
            <p class="product_desc"><%= product.description%></p>
            <p class="old_price">原价：￥<%= product.old_price%></p>
            <p class="price">￥<%= product.price%></p>
          </div>
        </a>
	    </div>
			<%end%>
		</div>
    <div style="clear:both"></div>
  </div>
</div>

<div class="products">
  <div class="title">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td>
          <div style="width: 100%; border-bottom: solid 1px #5f9e4b"></div>
        </td>
        <td width="80" align="center">
          猜你喜欢
        </td>
        <td>
          <div style="width: 100%; border-bottom: solid 1px #5f9e4b"></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="body">
		<%Product.where(agent_id: nil, recommend: false).each do |product|%>
    <div class="product_box">
      <a href="/products/<%= product.id%>">
	      <img src="<%= product.logo.url%>" onload="resize(this)" />
	      <div class="white_bg_attrs">
  	      <p class="product_title"><%= product.name%></p>
          <p class="product_desc"><%= product.description%></p>
  	      <p class="price">￥<%= product.price%></p>
	      </div>
      </a>
    </div>
		<%end%>
    <div style="clear:both"></div>
  </div>
</div>

<div id="footer">
  <div class="hotline">
    <img src="/images/hotline_icon.jpg" style="margin-bottom: -14px" />
    服务热线：400-1887-077
  </div>
  <p>COPYRIGHT 2007-2015 大连山河投资有限公司</p>
  <p>ALL RIGHTS RESERVED.</p>
  <p>辽ICP备13008748号-2</p>
</div>

<script>
$(function() {
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay:5000,
		speed:300,
		autoplayDisableOnInteraction: false
	});
	
	
	// //猜你喜欢图片超出div自动个缩小
// 	$.each($(".product_box>a>img"), function(index, img){
// 		var img = $(img);
// 		var div = img.parent().parent();
//
// 		if(img.width() > div.width())
// 		{
// 			img.width(div.width()-8);
// 		}
// 	});

//	$(function(){
//		var height = $('.swiper-slide img:eq(0)').height();
//		if(height<=0){height=200;}
//		$('.swiper-wrapper').css('height', height);
//	})
});

function resize(img)
{
	var parent_width = img.parentElement.parentElement.offsetWidth;
	if(img.offsetWidth > parent_width)
	{
		img.style.width = (parent_width - 8)+"px";
	}
	
}
</script>