<%@title = "天菜商贸"%>

<style>
body{background: #E6E6E6;}
.recommend_box{margin-top: 5px;}
.recommend_box .name{line-height: 30px; margin-top: 10px; font-size: 16px; font-weight: bold;}
.recommend_box .price{line-height: 30px; margin-top: 10px; color: red; float: right; font-size: 16px; font-weight: bold;}

.index_nav{margin: auto auto auto auto; border-bottom: solid 10px #E6E6E6; background: white; padding-top: 20px;}
.index_nav a{margin-bottom: 20px; display: block;}
.index_nav a img{width: 49px; height: 50px;}

.recommends .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 25px;
  margin: auto;
  text-align: center;
  width: 100px;
}
.recommends .body{margin-bottom: 10px;}
.recommends .body table{margin: auto auto;}
.recommends .body table td{background: white; text-align: center;}
.recommends .old_price{color: #DDDDDD; text-decoration: line-through;}

.product.product_desc{color: white; text-align: left; padding: 5px; margin: 0px;}

.product_box p{
	padding: 0px;
	margin: 0px;
}

.recommend_products .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
}

.price{color: red; margin: 0px;}
.desc{color: #8C8C8C; text-align: left; padding: 5px; margin: 0px;}

.products{width: 100%; background: #E6E6E6;}
.products .title{
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.products .body{background: #E6E6E6;}
.products .body .product_box{
  width: 49%;
  float: left;
  text-align: center;
  margin-top: 10px;
  background: white;
}
.products .body .product_box:nth-child(even){
  float: right;
}
.products .body .product_box img{margin: 10px auto 20px auto;}

.company_desc{margin-top: 20px; background: white;}
.company_desc .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.company_desc .body{line-height: 40px; color: #999999; padding: 5px;}
.company_desc .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}

.quality{margin-top: 20px; background: white;}
.quality .title{
  border-top: 2px solid #5f9e4b;
  color: #5f9e4b;
  font-size: 15px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body{width: 95%; margin: auto auto; margin: 20px auto 20px auto; border-bottom: dashed 1px #DDDDDD; text-align: center;}
.quality .body:last-child{border-bottom: none;}
.quality .body .body_title{
  color: #5f9e4b;
  font-size: 14px;
  line-height: 30px;
  margin: auto;
  text-align: center;
  width: 200px;
}
.quality .body .icon{margin: auto auto;}
.quality .body .more{display: block; margin: 10px auto 20px auto; text-align: center;}
</style>

<!-- Swiper -->
<div class="swiper-container" style="width:100%;">
	<div class="swiper-wrapper" style='height:170px;'>
      <div class="swiper-slide"><a href="#"><img style="width:100%;" src='/uploads/banner/image/1/2015091714424534491112.jpg' alt="banner11111111"></a></div>
		  <div class="swiper-slide"><a href="#"><img style="width:100%;" src='/images/banner6.3.1.jpg'></a></div>
  </div>
	<div class="swiper-pagination"></div>
</div>

<div class="recommends">
  <div class="title">
    推荐商品
  </div>
  <div class="body">
		<div class="recommend_products">
			<%Product.where(agent_id: 2, recommend: true).limit(4).each do |product|%>
	    <div class="product_box">
        <a href="/products/<%= product.id%>">
          <p class="product_title"><%= product.name%></p>
          <p class="product_desc"><%= product.description%></p>
          <p class="old_price">原价：￥<%= product.old_price%></p>
          <p class="price">￥<%= product.price%></p>
          <img src="<%= product.logo.url%>" onload="resize(this)" />
        </a>
	    </div>
			<%end%>
		</div>
    <div style="clear:both"></div>
  </div>
</div>

<div class="products">
  <div class="title">
    -----  猜你喜欢  -----
  </div>
  <div class="body">
    <div class="product_box">
      <a href="/products/1">
	      <img src="/images/agents/index_product_2.jpg" width="80" />
	      <p class="desc">芬尼湾冰川饮用天然水（350ML）</p>
	      <p class="price">￥100.00</p>
      </a>
    </div>
    <div class="product_box">
			<a href="/products/1">
	      <img src="/images/agents/index_product_1.jpg" width="65" />
	      <p class="desc">芬尼湾冰川饮用天然水（500ML）</p>
	      <p class="price">￥100.00</p>
			</a>
    </div>
    <div class="product_box">
			<a href="/products/1">
	      <img src="/images/agents/index_product_3.jpg" width="80" />
	      <p class="desc">芬尼湾冰川饮用天然水（1L）</p>
	      <p class="price">￥100.00</p>
			</a>
    </div>
    <div class="product_box">
			<a href="/products/1">
	      <img src="/images/agents/index_product_7.jpg" width="72" />
	      <p class="desc">芬尼湾冰川饮用天然水（5L）</p>
	      <p class="price">￥100.00</p>
			</a>
    </div>
    <div style="clear:both"></div>
  </div>
</div>

<div class="company_desc">
  <div class="title">
    公司简介
  </div>
  <div class="body">
    <div class="body_title">
      北京市天菜商贸有限公司
    </div>
    <p>
      北京市天菜商贸有限公司是一家白酒、啤酒、饮料等产品的经销批发的有限责任公司。本公司经营的白酒、啤酒、饮料畅销消费者市场。优质的产品和便捷的服务在消费者当中享有较高的地位，公司与多家零售商和代理商建立了长期稳定的合作关系。 
        北京市天菜商贸有限公司经销的白酒、啤酒、饮料品种齐全、价格合理。本公司实力雄厚，重信用、守合同、保证产品和服务质量，以多品种经营特色和薄利多销的原则，赢得了广大客户的信任。欢迎广大客户来电垂询！
    </p>
  </div>
</div>
<script>
$(function() {
	var swiper = new Swiper('.swiper-container', {
		pagination: '.swiper-pagination',
		paginationClickable: true,
		spaceBetween: 30,
		centeredSlides: true,
		autoplay:5000,
		speed:300,
		autoplayDisableOnInteraction: false
	});

//	$(function(){
//		var height = $('.swiper-slide img:eq(0)').height();
//		if(height<=0){height=200;}
//		$('.swiper-wrapper').css('height', height);
//	})
});

function resize(img)
{
	var parent_width = img.parentElement.parentElement.offsetWidth;
	if(img.offsetWidth > parent_width)
	{
		img.style.width = (parent_width - 8)+"px";
	}
	
}
</script>