<style type="text/css" media="screen">
.nav{background: url(/images/orders_new_nav_bg.jpg) repeat-x; width: 100%; height: 36px;}
.nav .back{display: block; background: url(/images/orders_new_nav_back.jpg); margin: auto auto auto 12px; width: 8px; height: 36px; }
.nav .title{display: block; background: url(/images/orders_new_nav_title.jpg); margin: auto auto auto auto; width: 60px; height: 36px; }
.nav .cart{display: block; background: url(/images/orders_new_nav_cart_icon.jpg); margin: auto 12px auto auto; width: 20px; height: 36px; }

.address{background: #82b770; color: white; padding: 12px;}
.address table tr td{color: white}
.address table tr td p{line-height: 18px;}

.product_list{width: 100%; border-top: solid 13px #E6E6E6; padding-top: 0px;}
.product_list img{padding: 5px; border: solid 1px #DDDDDD;}
.product_list .product_box{margin-top: 15px; border-bottom: solid 1px #DDDDDD; padding-bottom: 10px;}

.coupon{padding: 12px;}

.total{color: #dddddd;}
.total span{margin-top: 10px; display: inline-block;}
.total .price{font-size: 14px; font-weight: bold; color: red;}
.total .total_prices{border-top: solid 1px #DDDDDD; border-bottom: solid 1px #DDDDDD; height: 43px; }
.total .submit{width: 110px; height:45px; line-height: 45px; text-align: center; font-size: 14px; color: white; border: none; background: #82B770; padding: 0px;}
</style>
<div class="nav">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="left" widht="8">
				<a href="/" class="back"></a>
			</td>
			<td align="center" width="100%">
				<a href="#" class="title"></a>
			</td>
			<td align="right" width="20">
				<a href="/orders/new" class="cart"></a>
			</td>
		</tr>
	</table>
</div>

<%= form_tag orders_path do %>  
  <div class="address">
    <a href="<%= shippin_address_index_path(goto: new_order_path)%>" style="display: block; width: 100%; margin: auto auto; color: black; ">
  		<table width="100%" border="0" cellspacing="0" cellpadding="0">
  			<tr>
  				<td rowspan="2">
  					<img src="/images/orders_new_address_icon.jpg" />
  				</td>
  				<td style="padding-left: 20px">
  				  <%if @shippin_address.present?%>
  				  	收货人：<%= @shippin_address.name%>
  				  	<%= hidden_field_tag :address_id, @shippin_address.id%>
  				  <%end%>
  				</td>
  				<td>
  				  <%if @shippin_address.present?%>
  				  	电话：<%= @shippin_address.phone%>
  				  <%end%>
  				</td>
  				<td rowspan="2" width="6">
  					<img src="/images/orders_new_change_icon.jpg" />
  				</td>
  			</tr>
  			<tr>
  				<td colspan="2" width="100%" style="padding-left: 20px">
  				  <%if @shippin_address.blank?%>
  				  	添加收货地址
  				  <%else%>
  				  	<p><%= @shippin_address.to_s%></p>
  					<%end%>
  				</td>
  			</tr>
  		</table>
  	</a>
  </div>
  
  <div class="product_list">
    <% current_user.carts.each do |cart|%>
    <%= hidden_field_tag "cart_ids[]", cart.id%>
    <% product = cart.product%>
    <div class="product_box">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding: 0px; padding-left: 12px" width="87" valign="top">
            <img src="<%= product.logo.url%>" width="75" height="75" />
          </td>
          <td valign="top" style="padding-left: 10px; line-height: 22px">
            <p style="margin: auto"><%= product.name%></p>
            <p style="margin: auto; height: 44px;"><%= product.description%></p>
            <p style="color: #BBBBBB; margin: auto"><%= product.price%> x <%= cart.total%> = <%= product.price*cart.total%></p>
          </td>
        </tr>
      </table>
    </div>
    <%end%>
  </div>
  
  <div class="coupon">
    <label>可用优惠券<%= select_tag :coupon_id, options_for_select(Coupon.where(user: current_user, state: "create").map{|c| [c.name, c.id]}.unshift(["不使用优惠券", nil]))%></label>
  </div>
  
  <div class="total">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="100%" align="center" valign="middle">
          <div class="total_prices">
            <span>合计：</span>
            <span class="price">￥<%= 
          	current_user.carts.to_a.sum{|cart| 
          		cart.total * cart.product.try(:price)||0
          	}.to_f
          	%>
            </span>
          </div>
        </td>
        <td width="110">
					<%if @shippin_address%>
          <input type="submit" value="提交订单" class="submit" />
					<%end%>
        </td>
      </tr>
    </table>
  </div>
<%end%>  

  
