<!DOCTYPE html>
<html>
<head>
  <title>掌上摄影圈</title>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

   <link href="/dist/css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />
</head>
 <body class="login-page">
 	

<div class="login-box">
      <div class="login-logo">
        <a href="/admin"><b>掌上摄影圈</b></a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">登陆</p>
       <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				 <% flash.each do |key, value| %>
				   <%= content_tag :div, value, :class => "flash #{key}" unless value.blank? %>
				 <% end %>
          <div class="form-group has-feedback">
             <%= f.text_field :name, autocomplete: "off",class: "form-control" ,placeholder: "登录名" %>
              <span class="glyphicon glyphicon-user form-control-feedback"></span>
           
          </div>
          <div class="form-group has-feedback">
          	 <%= f.password_field :password, autocomplete: "off",class: "form-control" ,placeholder: "Password" %>
          	  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                 <!--<a href="/users/sign_up" class="text-center">注册</a>-->
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat">登陆</button>
            </div><!-- /.col -->
          </div>
      <% end %>

     
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->

   <script src="/dist/js/app.js" type="text/javascript"></script>  

</body>
</html>
