<%@page_title ||= "优惠券模板管理"%>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<div class="box-body pad table-responsive">
				<div>
					<table class="table table-hover orders_table">
						<tbody>
							<tr>
								<th><label><input type="checkbox" />全选</label></th>
								<th>名称</th>
								<th>金额</th>
								<th>可用分类</th>
								<th>操作</th>
							</tr>
							<%@coupon_templates.each do |coupon_template|%>
							<tr>
								<td>
									<div class="row show-grid">
										<div class="col-md-3 img_box">
											<div class="check_box">
												<input type="checkbox" name="coupon_template[]id" value="<%= coupon_template.id%>">
											</div>
										</div>
									</div>
								</td>
								<td><%= coupon_template.name%></td>
								<td><%= coupon_template.price%></td>
								<td><%= coupon_template.product_categories.map(&:name)*"、"%></td>
								<td>
									<a href="<%= edit_admin_coupon_template_path(coupon_template)%>">编辑</a>
									<%= link_to '删除', admin_coupon_template_path(coupon_template), :confirm => '确定要删除吗?', :method => :delete %></td>
								</td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<a href="<%= new_admin_coupon_template_path%>" class="btn btn-default">添加模板</a>
			</div> 
		</div>
	</div>
</div>






















