<style type="text/css">
.nav{background: url(/images/orders_new_nav_bg.jpg) repeat-x; width: 100%; height: 36px;}
.nav .back{display: block; background: url(/images/orders_new_nav_back.jpg) no-repeat 10px 0px; width: 30px; height: 36px; }
.nav .title{display: block; margin: auto auto auto auto; height: 36px; font-weight: bold; font-size: 16px; color: white; line-height: 36px;}

.gray_bg{background: #E6E6E6; padding-bottom: 60px; margin-bottom: 10px;}

.address{padding: 12px; padding-right: 0px; border-top: solid 13px #E6E6E6; background: white;}
.address table tr td p{margin: 0px;}
.address table tr td{}
.address table tr td p{line-height: 18px;}
.address table tr td .delete{display: block; width: 60px; height: 89px; background: red; color: white; line-height: 89px; text-align: center;}

.form{}
.form td{padding-top: 10px; padding-left: 12px;}
.form td input, .form td input{height: 30px;}
.form td input, .form td select{width: 100%; height: 30px; border: none; border-bottom: solid 1px #DDDDDD;}
.form td input[type="text"]{width: 100%;}
.form td input[type="checkbox"]{width: 15px; vertical-align:middle}
.form td label{vertical-align:middle}
.submit{width: 100%; line-height: 50px; text-align: center; background: #82B770; color: white; border: none; border-top: solid 40px #E6E6E6; font-size: 14px;}

.error{color: red;}
.error::-webkit-input-placeholder{color: red;}
.error:-moz-placeholder{color: red;}
.error::-moz-placeholder{color: red;}
.error:-ms-input-placeholder{color: red;}
</style>

<div class="nav">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="left" widht="8">
				<a href="/" class="back"></a>
			</td>
			<td align="center" width="100%">
				<p class="title">编辑收货地址</p>
			</td>
			<td align="right" width="20">
				<a href="/orders/new" class="cart"></a>
			</td>
		</tr>
	</table>
</div>

<div style="width: 90%; text-align: center; color: red">
  <%= flash[:error]%>
</div>

<%= form_for @address, url:  shippin_address_path(@address), html: {id: "form"} do |f|%>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form">
    <tr>
      <td>
        <%= f.text_field :name, placeholder: '收货人姓名'%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :phone, placeholder: '联系电话'%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :province_code, AreaProvince.all.map{|province| [province.name, province.code]}, {}, id: :area_province%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :city_code, AreaCity.where(province_code: @address.province_code).map{|city| [city.name, city.code]}, {}, id: :area_city%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.select :street_code, AreaStreet.where(city_code: @address.city_code).map{|street| [street.name, street.code]}, {}, id: :area_street%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.text_field :detail, placeholder: '详细地址'%>
      </td>
    </tr>
    <tr>
      <td>
        <label><%= f.check_box :default%>设为默认地址</label>
      </td>
    </tr>
  </table>


  <input type="submit" value="保存" class="submit" />
<%end%>

<script type="text/javascript" src="/js/jquery.validate.min.js" ></script>
<script>
	var validate = $("#form").validate({
  	debug: false, //调试模式取消submit的默认提交功能   
    //errorClass: "label.error", //默认为错误的样式类为：error   
    focusInvalid: false, //当为false时，验证无效时，没有焦点响应  
    onkeyup: false,
    submitHandler: function(form){   //表单提交句柄,为一回调函数，带一个参数：form   
    	form.submit();   //提交表单   
    },   
		errorPlacement: function(error, element) {
			$("#form input.error").each(function() {
				if ($(element).is("select"))
				{
					$(element).css("color", "red");
				}
				else
				{
					$(element).attr("placeholder", $(error).html());
				}
			});
		},          
    rules:{
			"shippin_address[name]":{
				required: true
			},
			"shippin_address[phone]":{
				area: true
			},
			"shippin_address[province_code]":{
				area: true
			},
			"shippin_address[city_code]":{
				area: true
			} ,
			"shippin_address[detail]":{
				required: true
			}
    },
    messages:{
      "shippin_address[name]":{
      	required: "请输入收货人姓名"
      },
			"shippin_address[phone]":{
				required: "请输入联系电话"
			},
			"shippin_address[detail]":{
				required: "请输入详细地址"
			}
   	}
	});    
  jQuery.validator.addMethod("area", function(value, element) {
  	if(value == "") return false;
		return true;
	}, "请选择地区");  


</script>
  
<script type="text/javascript">
$(function(){
	//get cities
	$("#area_province").change(function(){
		if($(this).val() == "")
		{
			$("#area_city").val("").hide();
			$("#area_street").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/cities',
			type: 'GET',
			dataType: 'json',
			data: {provincecode: $(this).val()},
			success: function(response)
			{
				var options = '<option value="">请选择市</option>';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#area_city").html(options).show();
				$("#area_street").html('').hide();
			}
		});
	});

	//get streets
	$("#area_city").change(function(){
		if($(this).val() == "")
		{
			$("#area_street").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/streets',
			type: 'GET',
			dataType: 'json',
			data: {citycode: $(this).val()},
			success: function(response)
			{
				var options = '<option value="">请选择区县</option>';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#area_street").html(options).show();
			}
		});
	});
  
  
  
});
</script>
