编辑收货地址<br />

<%= form_for @address, url:  shippin_address_path(@address) do |f|%>
  <label>省份<%= f.select :province_code, AreaProvince.all.map{|province| [province.name, province.code]}, {}, id: :area_province%></label><br />
  <label>城市<%= f.select :city_code, AreaCity.where(province_code: @address.province_code).map{|city| [city.name, city.code]}, {}, id: :area_city%></label><br />
  <label>街道<%= f.select :street_code, AreaStreet.where(city_code: @address.city_code).map{|street| [street.name, street.code]}, {}, id: :area_street%></label><br />
  <label>详细地址<%= f.text_field :detail%></label><br />
  <label>手机号<%= f.text_field :phone%></label><br />
  <label>姓名<%= f.text_field :name%></label><br />
  <label>设为默认<%= f.check_box :default%></label><br />
  <%= f.submit "提交"%>
<%end%>

<script type="text/javascript">
$(function(){
	//get cities
	$("#area_province").change(function(){
		if($(this).val() == "")
		{
			$("#area_city").val("").hide();
			$("#area_street").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/cities',
			type: 'GET',
			dataType: 'json',
			data: {provincecode: $(this).val()},
			success: function(response)
			{
				var options = '<option value="">请选择市</option>';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#area_city").html(options).show();
				$("#area_street").html('').hide();
			}
		});
	});

	//get streets
	$("#area_city").change(function(){
		if($(this).val() == "")
		{
			$("#area_street").val("").hide();
			return false;
		} 
		
		$.ajax({
			url: '/ajax/area/streets',
			type: 'GET',
			dataType: 'json',
			data: {citycode: $(this).val()},
			success: function(response)
			{
				var options = '<option value="">请选择区县</option>';
				$.each(response, function(index, city){
					options += '<option value="'+ city['code'] +'">'+ city['name'] +'</option>';
				});
				$("#area_street").html(options).show();
			}
		});
	});
  
  
  
});
</script>