<html>
  <body>
    <script type="text/javascript">
    alert(wx);
    wx.chooseWXPay({
      "timestamp": "<%= @pay_p[:timeStamp] %>",
      "nonceStr": "<%= @pay_p[:nonceStr] %>",
      "package": "<%= @pay_p[:package] %>",
      "signType": "<%= @pay_p[:signType] %>",
      "paySign": "<%= @pay_sign %>", // 支付签名
      success: function (res) {
        window.location.href = "/member/orders/<%= params[:id]%>";
      }
    });
    </script>
  </body>
</html>