<% @page_title="角色管理" %>
<% @page_desc="分配权限" %>
<label>角色：<%= @role.name  %></label>
</br>
</br>
<%= form_for [:admin, @role], url: update_permissions_admin_role_path(@role), method: :patch do |f| %>
  <%  Permission.roots.each do |con| %>
    <div class="col-lg-12">
      <label><%= con.name %></label>
      <div class="checkbox-list">
        <%con.children.get_names.each do | name |%>
          <label class="col-md-2 check_box">
            <input type="checkbox" name="permissions[]" value="<%= con.id %>_<%= name %>" <%= @role_permissions.include?([con.id, name]) ? 'checked' : '' %>/>
            &nbsp;&nbsp;<%= name %>
          </label>
        <%end%>
      </div>
    </div>
    </br>
    </br>
     </br>
  </br>
  <%end%>
  </br>
  </br>
  <%= f.submit '保存'%>
<%end%>
