<%= form_for [:admin, product], :html=>{:multipart=>true} do |f| %>
	<div class="box-body">
		<div class="form-group">
			<label for="exampleInputEmail1">所属分类</label>
			<%= f.select :product_category_id, grouped_options_for_select(ProductCategory.roots.map{|c| [c.name, c.children.map{|cc| [cc.name, cc.id]}]}), {}, class: 'form-control' %>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">商品名称</label>
			<%= f.text_field :name, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">描述</label>
			<%= f.text_area :description, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">市场价</label>
			<%= f.text_field :old_price, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">售价</label>
			<%= f.text_field :price, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">库存</label>
			<%= f.text_field :inventory, class: 'form-control'%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">推荐</label>
			<%= f.check_box :recommend%>
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">置顶</label>
			<%= f.check_box :sticky%>
		</div>
		<%unless product.new_record?%>
		<div class="form-group">
			<label for="exampleInputPassword1">显示顺序</label>
			<%= f.text_field :position, class: 'form-control' %>
		</div>
		<%end%>
		<div class="form-group">
			<label for="exampleInputPassword1">图文描述</label>
			<%= f.kindeditor :content %>
		</div>
	</div>
	<div class="box-footer">
		<button class="btn btn-primary" type="submit">保存</button>
	</div>
<% end %>

