<%@page_title="商品管理"%>

<style type="text/css" media="screen">
.table > tbody > tr > td{vertical-align: middle;}
.check_box{float: left; }
.img_box{text-align: center; line-height: 83px}
.inline_label{float: left; margin: 7px auto auto -18px;}
.input_label{}
.img-thumbnail{width: 50%;}	
.filter .col-sm-05{
	width: 4.166665%; 
	float: left;
	min-height: 1px;
  padding-left: 15px;
  padding-right: 0px;
	padding-top: 7px;
  position: relative;
}
.filter .col-sm-07{
	width: 5.833330%;
	float: left;
	min-height: 1px;
  padding-left: 15px;
  padding-right: 0px;
	padding-top: 7px;
  position: relative;
}
.filter div[class^='col-xs-']{padding-left: 0px;}
.state_create{color: green;}
.state_pause{color: red;}
</style>

	<div class="row">
		<div class="col-xs-12">			
			<div class="box box-primary">
				<div class="box-body pad table-responsive">
					<div>
						<table class="table table-hover orders_table">
							<tbody>
								<tr>
									<th><label><input type="checkbox" />全选</label></th>
									<th>分类</th>
									<th>商品名称</th>
									<th>图标</th>
									<th>状态</th>
									<th>价格</th>
									<th>库存</th>
									<th>销量</th>
									<th>置顶</th>
									<th>推荐</th>
									<th>显示顺序</th>
									<th>操作</th>
								</tr>
								<%@products.each do |product|%>
								<tr>
									<td>
										<div class="row show-grid">
											<div class="col-md-3 img_box">
												<div class="check_box">
													<input type="checkbox" name="product[]id" value="<%= product.id%>">
												</div>
											</div>
										</div>
									</td>
									<td><%= product.product_category.try(:name)%></td>
									<td><%= product.name%></td>
									<td>
										<%product.product_logos.each do |logo|%>
											<img src="<%= logo.logo.url%>" width="50" height="50">
										<%end%>
									</td>
									<td class="state_<%= product.state%>"><%= t "activerecord.product.states.#{product.state}"%></td>
									<td><%= product.old_price%> / <span style="color: red; font-weight: bold"><%= product.price%></span></td>
									<td><%= product.inventory%></td>
									<td><%= product.order_products_count%></td>
									<td><%= product.sticky ? '是' : '否'%></td>
									<td><%= product.recommend ? '是' : '否'%></td>
									<td><%= product.position%></td>
									<td>
										<a href="<%= edit_admin_product_path(product)%>">编辑</a>
										<a href="<%= move_up_admin_product_path(product)%>">上移</a>
										<a href="<%= move_down_admin_product_path(product)%>">下移</a>
                    <%if product.create?%>
  										<a href="<%= set_state_admin_product_path(product, state: 'pause')%>">下架</a>
                    <%else%>
  										<a href="<%= set_state_admin_product_path(product, state: 'create')%>">上架</a>
                    <%end%>
										<%if product.can_delete?%>
											<%= link_to '删除', admin_product_path(product), :confirm => '确定要删除商品吗?', :method => :delete %></td>
										<%end%>
									</td>
								</tr>
								<%end%>
							</tbody>
						</table>
						<div style="margin-left: 10px">
							<%= paginate @products, :theme => 'twitter-bootstrap-3' %>
						</div>
					</div>
					<a href="<%= new_admin_product_path%>" class="btn btn-default">添加商品</a>
				</div> 
			</div>
		</div>
	</div>

<script type="text/javascript">
$(function(){
	$("#filter_form input").change(function(){
		$("#filter_form").submit();
	});
	$("#filter_form input").keydown(function(e){
		if(e.keyCode == 13){
			$("#filter_form").submit();
		}
	}); 
});
</script>
















