<div class="cardexplain" style="TEXT-ALIGN: center;color:#000;font-size:14px;">我的订单</div>


<%@orders.each do |order|%>
  <div style="width: 95%; margin: 10px auto auto auto; border: solid 1px black;">
    <div style="width: 98%; border-bottom: solid 1px #AAAAAA; margin: 5px auto auto auto">
      订单状态：<%= t "active_record.order.states.#{order.state}"%>
      <span style="float: right">订单号：<%= order.scode%></span>
    </div>
    <div style="margin-bottom: 20px">
      <%order.order_products.each do |op|%>
        <div style="width: 98%; border-bottom: solid 1px #CCCCC; margin: 5px auto auto auto; border-bottom: solid 1px #AAAAAA; padding-bottom: 10px ">
          <table>
            <tr>
              <td rowspan="2">
                <img src="<%= op.logo.url%>" width="50" height="50" />
              </td>
              <td style="padding-left: 10px; line-height: 16px">
                <%= op.name%><br />
                <%= op.description%><br />
                <span style="color: #BBBBBB"><%= op.price%> x <%= op.total%> = <%= op.price*op.total%></span>
              </td>
            </tr>
          </table>
        </div>
      <%end%>
    </div>
    <div style="width: 98%; border-bottom: solid 1px #CCCCC; margin: 5px auto auto auto; text-align: right">
      共<%= order.order_products.count%>件商品，&nbsp;&nbsp;运费：<%= order.fare.to_f%>，&nbsp;&nbsp;合计：<span style="color: red"><%= order.total_fee%></span>
    </div>
    <div>
      <td>
        <%if order.cancel?%>
          <a href="<%= delete_member_order_path(order)%>" style="display: inline-block; line-height: 12px; border: solid 1px black; padding: 5px; margin: 5px;float: right">删除订单</a>
        <%elsif order.create?%>
          <a href="#">立即支付</a>
          <a href="<%= set_state_member_order_path(order, state: :cancel)%>" style="display: inline-block; line-height: 12px; border: solid 1px black; padding: 5px; margin: 5px;float: right">取消订单</a>
        <%elsif order.payment?%>
          
        <%elsif order.sent?%>
          <a href="#" style="display: inline-block; line-height: 12px; border: solid 1px black; padding: 5px; margin: 5px;float: right">确认收货</a>
        <%end%>
      </td>
      <div style="clear: both"></div>
    </div>
  </div>
<%end%>

