<h3 style="width: 100%; text-align: center"><%= @product.name%></h3>

<!-- Swiper -->
<div class="swiper-container" style="width:100%;">
	<div class="swiper-wrapper" style='height:251px;'>
    <% @product.product_logos.each do |plogo|%>
		  <div class="swiper-slide"><img style="width:100%; height: 300px" src='<%= plogo.logo.url%>' /></div>
    <%end%>
  </div>
	<div class="swiper-pagination"></div>
</div>
<div style="width: 100%; color: #AAAAAA; padding: 5px">
  <%= @product.description%>
</div>
<div style="width: 100%; color: #AAAAAA; padding: 5px margin-bottom: 10px">
  <span style="width: 100%; color: red; margin-left: 10px; font-size: 16px; font-weight: bold"><%= @product.price%></span>
  <a href="<%= add_carts_path(product_id: @product, goto: new_order_path)%>" style="display: inline-block; padding: 5px; line-height: 16px; float: right; border: solid 1px black">立即购买</a>
  <div style="clear: both"></div>
</div>
<table style="width: 100%">
  <tr>
    <td align="left" style="padding-left: 10px;">
      快递：免运费
    </td>
    <td align="left">
      月销：25
    </td>
    <td align="left">
      规格：1件
    </td>
  </tr>
</table>
<div style="width: 100px; padding: 10px; margin-bottom: 50px">
  <%= @product.content%>
</div>



<script>
	$(window).load(function() {
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			spaceBetween: 30,
			centeredSlides: true,
			autoplay:2500,
			speed:300,
			autoplayDisableOnInteraction: false
		});

		$(function(){
			var height = $('.swiper-slide img:eq(0)').height();
			if(height<=0){height=320;}
			$('.swiper-wrapper').css('height', height);
		})
	})
</script>