<style type="text/css" media="screen">
.nav{background: url(/images/orders_new_nav_bg.jpg) repeat-x; width: 100%; height: 36px;}
.nav .back{display: block; background: url(/images/orders_new_nav_back.jpg); margin: auto auto auto 12px; width: 8px; height: 37px; }
.nav .title{display: block; margin: auto auto auto auto; width: 108px; height: 37px; font-size: 16px; color: white; line-height: 37px;;}
.nav .cart{display: block; background: url(/images/show_nav_cart.png) no-repeat 0px 10px; margin: auto 12px auto auto; width: 20px; height: 37px; }

.attrs{padding: 12px;}
.attrs .description{font-size: 12px;}
.attrs .favorite{width: 40px; height: 33px; background: url(/images/show_favorite.jpg); display: block;}
.attrs .old_price{font-size: 11px; text-decoration: line-through; color: #AFAFAF; margin: 0;}
.attrs .price{font-size: 14px; color: red; font-weight: bold; margin: 0; }
.attrs .sub_attrs{color: #AFAFAF; font-size: 11px;}
.attrs .buy_btn{width: 60px; height: 30px; display: block; background: #e14104; color: white; text-align: center; line-height: 30px; font-weight:none; font-size: 12px; text-decoration: none; margin: 10px; margin-top: 20px;}

.content{border-top: solid 12px #e6e6e6}
.content .title{width: 100%; height: 40px; border-bottom: solid 1px #E6E6E6; background: url(/images/show_content_icon.jpg) no-repeat; background-position: 12px 13px;}
.content .product_body{padding: 12px;}
.content .product_body img{width: 100%;}
/*
.history{border-top: solid 12px #e6e6e6}
.history .title{width: 100%; height: 40px; border-bottom: solid 1px #E6E6E6; background: url(/images/show_history_icon.jpg) no-repeat; background-position: 12px 13px;}
.history .list .product{}*/
</style>

<div class="nav">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td align="left" width="33%">
				<a href="/" class="back"></a>
			</td>
			<td align="center" width="33%">
				<a href="#" class="title">商品详情</a>
			</td>
			<td align="right" width="33%">
				<a href="/orders/new" class="cart"></a>
			</td>
		</tr>
	</table>
</div>

<!-- Swiper -->
<div class="swiper-container" style="width:100%;">
	<div class="swiper-wrapper">
    <% @product.product_logos.each do |plogo|%>
		  <div class="swiper-slide"><img style="width:100%;" src='<%= plogo.logo.url%>' /></div>
    <%end%>
  </div>
	<div class="swiper-pagination"></div>
</div>
<div class="attrs">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td colspan="2">
				<divn class="description">
				  <%= @product.description%>
				</div>
			</td>
			<td width="40">
			</td>
		</tr>
		<tr>
			<td>
				<p class="old_price">￥<%= @product.old_price%></p>
				<p class="price">￥<%= @product.price%></p>
			</td>
			<td colspan="2" align="right">
				<a class="buy_btn" href="<%= add_carts_path(product_id: @product, goto: new_order_path)%>">立即购买</a>
			</td>
		</tr>
		<tr>
			<td class="sub_attrs" colspan="3">
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
					<tr>
						<td class="sub_attrs">
							快递：免运费
						</td>
						<td class="sub_attrs">
							月销：25
						</td>
						<td class="sub_attrs">
							规格：1件
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>

<div class="content">
	<div class="title">
		
	</div>
	<div class="product_body">
		<%=raw @product.content%>
	</div>
</div>


<script>
	$(window).load(function() {
		var swiper = new Swiper('.swiper-container', {
			pagination: '.swiper-pagination',
			paginationClickable: true,
			spaceBetween: 30,
			centeredSlides: true,
			autoplay:2500,
			speed:300,
			autoplayDisableOnInteraction: false
		});
		
		//自动设置图片大小
		$.each($(".product_body img"), function(index, img){
		  var img = $(img);
		  if(img.width() >= 320)
		  {
		    img.width("100%")
		  }
		})
		
	})
</script>