<%@page_title ||= "代金卷管理"%>

<div class="row">
	<div class="col-xs-12">			
		<div class="box box-primary">
			<div class="box-body pad table-responsive">
				<div>
					<table class="table table-hover orders_table">
						<tbody>
							<tr>
								<th><label><input type="checkbox" />全选</label></th>
								<th>名称</th>
								<th>金额</th>
								<th>用户</th>
								<th>状态</th>
								<th>操作</th>
							</tr>
							<%@coupons.each do |coupon|%>
							<tr>
								<td>
									<div class="row show-grid">
										<div class="col-md-3 img_box">
											<div class="check_box">
												<input type="checkbox" name="coupon[]id" value="<%= coupon.id%>">
											</div>
										</div>
									</div>
								</td>
								<td><%= coupon.name%></td>
								<td><%= coupon.price%></td>
								<td><%= coupon.user.try(:name)%></td>
								<td><%= t "activerecord.coupon.states.#{coupon.state}"%></td>
								<td>
									<%= link_to '删除', admin_coupon_path(coupon), :confirm => '确定要删除吗?', :method => :delete %></td>
								</td>
							</tr>
							<%end%>
						</tbody>
					</table>
				</div>
				<a href="<%= new_admin_coupon_path%>" class="btn btn-default">添加</a>
			</div> 
		</div>
	</div>
</div>






















