<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>芬尼湾</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen">
    <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <%= csrf_meta_tags %>
  </head>
  <body>
  
    <%= yield %>
    <div class="footermenu">
  		<ul>
  			<li>
          <a href="/" class="<%= request.path == "/" ? "active" : ""%>">
            <img src="/images/home.png">
  					<p>首页</p>
    			</a>
        </li>

  			<li>
          <a href="/member/orders" class="<%= request.path == "/member/orders" ? "active" : ""%>">
            <span id="cartN2" class="num"><%= current_user.orders.where(state: :create).count%></span>
            <img src="/images/22.png">
  				  <p>订单</p>
  			  </a>
        </li>
		
  			<li>
          <a href="/member" class="<%= !["/member/orders", "/member/distributions"].include?(request.path)  && request.path =~ /^\/member/ ? "active" : ""%>">
            <img src="/images/menu.png">
  					<p>会员中心</p>
  			  </a>
        </li>
		
  			<li>
          <a href="/member/distributions" class="<<%= request.path == "/member/distributions" ? "active" : ""%>">
            <img src="/images/buy.png">
  					<p>我的分销</p>
    			</a>
        </li>
  		</ul>
  	</div> 

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
