<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员中心</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<style>
html{
}
body{
  width: 100%;
  font-size: 12px;
  margin: 0px; 
  padding: 0px; 
}
a{text-decoration: none; color: black;}
input {-webkit-appearance:none; border-radius: 0;}
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="text"],
input{-webkit-appearance:none;}

.nav{background: url(/images/orders_new_nav_bg.jpg) repeat-x; width: 100%; height: 36px;}
.nav .back{display: block; background: url(/images/orders_new_nav_back.jpg) no-repeat 10px auto; width: 30px; height: 36px; }
.nav .title{display: block; height: 36px; font-weight: bold; font-size: 16px; color: white; line-height: 36px;}

</style>

</head>
<body>
  <div class="nav">
  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  		<tr>
  			<td align="left" widht="8">
  			  <%= link_to '', '/', class: 'back'%>
  			</td>
  			<td align="center" width="100%">
  				<p class="title"><%= @title||'会员中心'%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  			</td>
  			<td align="right" width="20">
  				<a href="/orders/new" class="cart"></a>
  			</td>
  		</tr>
  	</table>
  </div>
  
  <%= yield%>
  
</body>
</html>
